fastapi==0.116.1
uvicorn==0.35.0
langchain==0.3.27
langchain-openai==0.3.32
python-dotenv==1.1.1
pydantic==2.11.7
SQLAlchemy==2.0.43
psycopg-binary==3.2.9
openai==1.102.0
prometheus-client==0.20.0


tzdata>=2024.1
